name: Web Portal CI/CD

on:
  push:
    branches: [ "main", "Scarmonit" ]
    paths:
      - 'web-portal/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'web-portal/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web-portal

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: ./web-portal/package-lock.json

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build

    - name: Lint
      run: npm run lint

    - name: Docker Build (Test)
      run: docker build . -t scarmonit-web-portal:test
